@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700';

html, body {
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	display: grid;
	align-items: center;
	justify-content: center;
}

main {
	display: grid;
	align-items: center;
	justify-content: center;
  	grid-template-columns:
    1fr
    min(80ch, 95%)
    1fr;
}

main > * {
	grid-column: 2;
}

b {
	font-weight: 600;
}

h1 {
	font-size: 36pt;
	text-align: center;
}

nav {
    display: grid;
	align-items: center;
	justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    text-align: center;
    padding: 12px 0px;
	font-size: 20pt;
}

p {
	padding: 12px 0px;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.9;
	text-align: justify;
	word-break: normal;
}

a {
	position: relative;
	text-decoration: none;
	display: inline-block;
	color: black;
	font-size: 16pt;
	transition: color ease 0.12s;

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 5%;
		left: 0;
		bottom: 0;
		background-color: #ffd900bb;
		transition: all ease 0.12s;
	}

	&:hover {
		color: black;

		&::after {
			height: 100%;
		}
	}
}

@media screen and (max-width: 950px) {
	nav {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	p, a, nav {
		font-size: 14pt;
	}

	h1 {
		font-size: 30pt;
	}
}
